.body{
    background-color: #ede2fa;
    text-align: center;
    width:100%;
    margin:0px;
    position: absolute;
    justify-content: center;
    margin-left: 0px;
    min-width: 600px;
    min-height: 1250px;
    zoom:60%

}
.button{
    padding: 5px;
    color: #efd8fa;
    border-radius: 5px;
    font-size: large;
    cursor: pointer;
    text-decoration:none;
    border: 1px solid #9c58ad;
    color: #efd8fa;
    background: #9306b6;
}
.removeBtn{
    border: 1px solid #640207;
    color: #efd8fa;
    background: #b6063b;
}
.removeBtn:hover{
    color: #ffff;
}
table {
    margin-top: 100px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: larger;
    text-align: center;
}

td,th {
    border: 2px solid #8f6797;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #d0b8df;
}

h2,h3{
    text-align: center;
    color: #35013f;
}
* {
    box-sizing: border-box;
    }
    
    .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
    }
    
    .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    }
    
    .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
    }
    
    .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
    }
    
    .col-25,
    .col-50,
    .col-75 {
    padding: 0 16px;
    }
    
    .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    }
    
    .inputText {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    }
    
    .label {
    margin-bottom: 10px;
    display: block;
    }
    
    .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
    }
    
    .btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    font-size: 17px;
    }
    
    .btn:hover {
    background-color: #45a049;
    }
    
    .a {
    color: #2196F3;
    }
    
    hr {
    border: 1px solid lightgrey;
    }
    
    span.price {
    float: right;
    color: grey;
    }
    
    /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
    @media (max-width: 800px) {
    .row {
    flex-direction: column-reverse;
    }
    .col-25 {
    margin-bottom: 20px;
    }
    }